@{
    ViewData["Title"] = "Home Page";
}
<div class="transparentBackground">

</div>
<div class="loaderIcon">
    <img src="~/Images/ishop-loader.gif" width="200" height="90">
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><button onclick="downloadPPT()">Download</button></p>
</div>
